
// Then bootstrap itself
// @import "materialize";


// @import "materialize";
//
// body,
// html {
//     // min-width: 500px;
//     max-width: 100%;
//     font-family: Roboto;
//
//     .body-container-fluid {}
//
//     .body-container {
//         margin-top: 50px;
//     }
//
//     .hidden {
//         display: none;
//     }
//
//     & .turbolinks-progress-bar {
//         background-color: #FF0000 !important;
//     }
//
//     .breadcrumb,
//     a {
//         cursor: pointer;
//     }
//
//     .nav-breadcrumb {
//         margin-bottom: 15px;
//         padding-left: 15px;
//         height: auto;
//     }
//
//     .line-through {
//         text-decoration: line-through !important;
//     }
//
//     .overline {
//         text-decoration: overline;
//     }
//
//     .underline {
//         text-decoration: underline;
//     }
//
//     .blink {
//         text-decoration: blink;
//     }
// }
