// .authors-list {
//     overflow-x: hidden;
//     overflow-y: auto;
//     max-height: 300px;
//     width: 100%;
//     position: relative;
//     padding: 0 15px;
//
//     .add-author {
//         width: 100%;
//         text-align: center;
//
//         a {
//             width: 100%;
//         }
//     }
//
//     .author-wrapper {
//         height: 20px;
//         width: 100%;
//         margin: 10px 0;
//
//         .author-name {
//             width: 100%;
//             display: inline-flex;
//
//             .author-name-text {
//                 width: 85%;
//
//                 overflow: hidden;
//                 white-space: nowrap;
//                 text-overflow: ellipsis;
//             }
//             .author-destroy-link {
//               text-decoration: none;
//               cursor: pointer;
//               color: #546E7A;
//             }
//         }
//     }
// }
