// .add-section-button {
//     position: fixed;
//     right: 50px;
//     bottom: 50px;
// }
//
// .book_section {
//     margin-bottom: 5px;
//
//     &:hover {
//         background-color: rgba(215,215,215,0.3);
//     }
//
//     .book_section-fragment,
//     .book_section-info,
//     .book_section-position {
//         &.header {
//             color: #333333;
//             font-weight: bold;
//             line-height: 1.65;
//             font-size: 14px;
//             border-bottom: 1px solid #DDDDDD;
//         }
//     }
//
//     .book_section-position {
//         text-align: center;
//         color: #A5A9C4;
//     }
//
//     .book_section-fragment {
//         text-align: center;
//     }
//
//     .book_section-info {
//         .book_section-title {
//             margin-right: 15px;
//             display: inline-block;
//             a {
//                 text-decoration: none;
//                 color: #444;
//             }
//         }
//
//         .book_section-status {
//             color: #fff;
//             text-align: center;
//             display: inline-block;
//             font-size: 14px;
//             line-height: 1.4;
//             padding: 0 5px;
//             width: 100px;
//
//             &.type-1 {
//                 // Переводится
//                 background-color: #546E7A;
//                 border: 1px solid #546E7A;
//             }
//
//             &.type-2 {
//                 // Редактируется
//                 background-color: #ffab40;
//                 border: 1px solid #ffab40;
//             }
//
//             &.type-3 {
//                 // Готово
//                 background-color: #008000;
//                 border: 1px solid #008000;
//             }
//         }
//
//         .book-section-actions {
//             display: inline-block;
//             a {
//                 display: flex;
//                 margin: 0 10px;
//                 height: 100%;
//                 text-decoration: none;
//                 color: #444;
//                 font-size: 100%;
//
//                 i {
//                     font-size: 21px;
//                 }
//             }
//         }
//     }
// }
