// .book-show-title {
//     h4 {
//         margin: 0;
//     }
// }
//
// .book-show-content {
//     .book-show-content-info-1 {
//         .cover {
//             width: 100%;
//
//             img {
//                 width: 100%;
//                 height: auto;
//             }
//         }
//
//         .bookmark {
//             width: 100%;
//         }
//     }
// }
