// .book-card {
//     margin-bottom: 25px;
//     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
//     border-radius: 2px;
//     background-color: #fff;
//     padding: 10px;
//
//     .book-card-content {
//         .book-card-content-cover {
//             .translator-type {
//                 margin-bottom: 5px;
//             }
//         }
//
//         .book-card-content-info {
//             .book-card-content-info-title {
//                 font-size: 18px;
//                 font-weight: 550;
//             }
//
//             .book-card-content-info-status {}
//
//             .book-card-content-info-genres {
//                 padding: 0;
//             }
//
//             .book-card-content-info-annotation {
//                 font-size: 14px;
//                 font-style: italic;
//             }
//         }
//         margin-bottom: 10px;
//     }
//
//     .book-card-content-actions {
//         border-top: 1px solid rgba(160, 160, 160, 0.2);
//
//         .book-card-content-actions-link {
//             text-align: center;
//             height: 20px;
//             line-height: 20px;
//
//             a {
//                 text-decoration: none;
//                 font-weight: 550;
//                 color: #ffab40;
//                 text-transform: uppercase;
//             }
//         }
//     }
// }
//
// .in_list {
//     margin: 0 0 5px 0 !important;
//     text-align: right;
//
//     .in_list_name {
//         font-size: 11px;
//         color: #444;
//     }
//
//     .in_list_count,
//     .in_list_name {
//         margin: 0 0 !important;
//         padding: 0 0 !important;
//     }
//
//     .in_list_count {
//         font-size: 11px;
//
//         .list-progressbar {
//             background-color: #B3D7F2;
//             color: #fff;
//             cursor: pointer;
//
//             span {
//                 margin-right: 5px;
//             }
//         }
//     }
// }
//
// .genres {
//     padding: 0 !important;
//
//     .genre {
//         span {
//             border-bottom: 1px dashed #546E7A;
//             cursor: help;
//             font-size: 12px;
//             line-height: 12px;
//         }
//     }
// }
//
// .book_status {
//     color: #fff;
//     display: inline-block;
//     text-align: center;
//     font-size: 14px;
//     line-height: 1.4;
//     padding: 0 5px;
//     width: 100px;
//
//     &.type-1 {
//         // Выходит
//         background-color: #007CAD;
//         border: 1px solid #007CAD;
//     }
//
//     &.type-2 {
//         // Издано
//         background-color: #008000;
//         border: 1px solid #008000;
//     }
// }
//
// .book-cover {
//     width: 100%;
//     height: 300px;
//     text-align: center;
//
//     .cover-image {
//         height: 300px;
//         width: 100%;
//         position: relative;
//         display: inline-block;
//
//         .buttons-block {
//             position: absolute;
//             right: 15px;
//             top: 15px;
//         }
//
//         .dynamic-data {
//             height: 300px;
//             width: auto;
//             text-align: center;
//
//             .preloader {
//                 width: 100%;
//                 height: 100%;
//
//                 .preloader-wrapper {
//                     margin: 0 auto;
//                 }
//             }
//
//             .image_preview {
//                 position: relative;
//                 max-height: 300px;
//                 width: auto;
//                 max-width: 100%;
//             }
//         }
//     }
//
//     .image {
//         display: none;
//     }
//
//     label {
//         display: none;
//     }
// }
