// .section-wrapper {
//     .section-title {
//         background-color: #546E7A;
//         height: 20px;
//         line-height: 20px;
//
//         .section-link {
//             margin-left: 25px;
//             text-decoration: none;
//             font-weight: 550;
//             color: #fff;
//             text-transform: uppercase;
//         }
//     }
//
//     .section-content {
//         margin: 10px;
//     }
// }
//
// .dashboar-new-on-site {
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     display: flex;
//
//     .book-item {
//         margin: 0 auto;
//
//         a {
//             text-decoration: none;
//             color: #000;
//         }
//     }
// }
