// .datepicker-custom-style {
//     .datepicker-date-display {
//         background-color: #546E7A !important;
//     }
//
//     .btn-flat {
//         color: #546E7A !important;
//     }
//
//     .month-prev:focus {
//         background-color: #546E7A !important;
//     }
//
//     .month-next:focus {
//         background-color: #546E7A !important;
//     }
//
//     .datepicker-table {
//       tbody {
//         td.is_selected {
//             background-color: #546E7A !important;
//         }
//       }
//
//     }
// }
//
// .datepicker-edit {
//   padding: 0 !important;
// }
//
// .dropdown-content {
//     li {
//         a,
//         span {
//             color: #546E7A !important;
//         }
//     }
// }
