// .medium-editor-placeholder::after {
//     color: #9e9e9e !important;
// }
//
// [contenteditable]:focus {
//     outline: 0 solid transparent;
// }
//
// .medium-editor-element {
//     border: 1px solid #546E7A;
//     border-radius: 5px;
//
//     & a {
//         color: #546E7A !important;
//     }
//
//     & blockquote {
//         border-left: 5px solid #546E7A !important;
//     }
// }
//
// .no-editor {
//     border: 1px solid #546E7A;
//     border-radius: 5px;
//     overflow-x: auto;
// }
// .editor {
//     overflow-x: auto;
// }
//
// .medium-editor-toolbar,
// .medium-editor-toolbar li .medium-editor-button-active,
// .medium-editor-toolbar li button:hover {
//     background-color: #546E7A !important;
//     border: none;
// }
//
// .medium-toolbar-arrow-under:after {
//     color: #546E7A !important;
//     border-color: #546E7A transparent transparent;
// }
//
// .medium-editor-toolbar-form-active {
//     & input {
//         border: 0 none #FFF !important;
//         box-shadow: none !important;
//     }
//
//     & .medium-editor-toolbar-close,
//     & a.medium-editor-toolbar-save {
//         & i {
//             vertical-align: middle;
//         }
//     }
// }
//
// .medium-editor-toolbar-actions {
//     &::after {
//         background-color: #546E7A !important;
//     }
//
//     & li {
//         & button {
//             border: none !important;
//             text-decoration: none !important;
//
//             & .custom-icon {
//                 width: 40px;
//                 position: relative;
//                 padding: 0;
//                 margin: 0;
//                 text-align: center;
//                 line-height: 0;
//
//                 & div {
//                     width: 100%;
//                     height: 24px;
//                     background-repeat: no-repeat;
//                     background-position: center;
//
//                     &.icon-bold {
//                         background-image: asset-url("icon-edit-bold-default.svg");
//                     }
//
//                     &.icon-italic {
//                         background-image: asset-url("icon-edit-italic-default.svg");
//                     }
//
//                     &.icon-underline {
//                         background-image: asset-url("icon-edit-underlined-default.svg");
//                     }
//
//                     &.icon-anchor {
//                         background-image: asset-url("icon-edit-link-default.svg");
//                     }
//
//                     &.icon-header {
//                         background-image: asset-url("icon-edit-title-default.svg");
//                     }
//
//                     &.icon-quote {
//                         background-image: asset-url("icon-edit-quote-default.svg");
//                     }
//
//                     &.icon-left-align {
//                         background-image: asset-url("icon-left-align-default.svg");
//                     }
//
//                     &.icon-center-align {
//                         background-image: asset-url("icon-center-align-default.svg");
//                     }
//
//                     &.icon-right-align {
//                         background-image: asset-url("icon-right-align-default.svg");
//                     }
//
//                     &.icon-justify-align {
//                         background-image: asset-url("icon-justify-align-default.svg");
//                     }
//                 }
//
//                 & span {
//                     width: 100%;
//                     text-align: center;
//                     height: 12px;
//                     font-family: Roboto;
//                     font-size: 10px;
//                     line-height: 1.2;
//                     color: rgba(255, 255, 255, 0.7);
//                     font-weight: normal;
//                     font-style: normal;
//                     text-decoration: none;
//                 }
//             }
//
//             & .custom-icon-underline {
//                 width: 70px;
//             }
//
//             & .custom-icon-header {
//                 width: 50px;
//             }
//         }
//     }
//
//     & .medium-editor-button-active {
//         & .icon-bold {
//             background-image: asset-url("icon-edit-bold.svg") !important;
//         }
//
//         & .icon-italic {
//             background-image: asset-url("icon-edit-italic.svg") !important;
//         }
//
//         & .icon-underline {
//             background-image: asset-url("icon-edit-underlined.svg") !important;
//         }
//
//         & .icon-anchor {
//             background-image: asset-url("icon-edit-link.svg") !important;
//         }
//
//         & .icon-header {
//             background-image: asset-url("icon-edit-title.svg") !important;
//         }
//
//         & .icon-quote {
//             background-image: asset-url("icon-edit-quote.svg") !important;
//         }
//
//         & .icon-left-align {
//             background-image: asset-url("icon-left-align.svg") !important;
//         }
//
//         & .icon-center-align {
//             background-image: asset-url("icon-center-align.svg") !important;
//         }
//
//         & .icon-right-align {
//             background-image: asset-url("icon-right-align.svg") !important;
//         }
//
//         & .icon-justify-align {
//             background-image: asset-url("icon-justify-align.svg") !important;
//         }
//
//         & span {
//             color: #fff !important;
//         }
//     }
// }
