// .input-field label {
//     color: #546E7A !important;
//
//     .active,
//     .label-for-select {
//         color: #546E7A !important;
//     }
// }
//
// // input[type=date]::-webkit-calendar-picker-indicator
// input[type=date]::-webkit-inner-spin-button,
// input[type=date]::-webkit-clear-button,
// input[type=date]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     display: none;
// }
// /* label focus color */
// .input-field .prefix.active,
// .input-field input[type=date]:focus + label,
// .input-field input[type=email]:focus + label,
// .input-field input[type=number]:focus + label,
// .input-field input[type=password]:focus + label,
// .input-field input[type=text]:focus + label,
// .input-field textarea:focus + label {
//     /* icon prefix focus color */
//     color: #546E7A !important;
// }
//
// input[type=checkbox]:checked + span:before {
//     color: #546E7A !important;
//     border-right: 2px solid #546E7A !important;
//     border-bottom: 2px solid #546E7A !important;
// }
// /* label underline focus color */
// /* valid color */
// .input-field input[type=date].valid,
// .input-field input[type=date]:focus,
// .input-field input[type=email].valid,
// .input-field input[type=email]:focus,
// .input-field input[type=number].valid,
// .input-field input[type=number]:focus,
// .input-field input[type=password].valid,
// .input-field input[type=password]:focus,
// .input-field input[type=text].valid,
// .input-field input[type=text]:focus,
// .input-field textarea.valid,
// .input-field textarea:focus {
//     border-bottom: 1px solid #546E7A !important;
//     box-shadow: 0 1px 0 0 #546E7A !important;
// }
// /* invalid color */
// .input-field input[type=date].invalid,
// .input-field input[type=email].invalid,
// .input-field input[type=number].invalid,
// .input-field input[type=password].invalid,
// .input-field input[type=text].invalid,
// .input-field textarea.invalid {
//     border-bottom: 1px solid #f44336 !important;
//     box-shadow: 0 1px 0 0 #f44336 !important;
// }
