// .material-edit {
//     border: 1px solid #DDDDDD;
//     margin: 5px;
//     padding: 5px;
//
//     .material-edit-position {
//         text-align: center;
//     }
// }
//
// .material-type {
//     color: #fff;
//     display: inline-block;
//     text-align: center;
//     font-size: 14px;
//     line-height: 1.4;
//     padding: 0 5px;
//     width: 100px;
//     background-color: #546E7A;
//     border: 1px solid #546E7A;
//     height: 22px;
//     margin: 5px;
//
//     &.left {
//         text-align: left;
//     }
//
//     &.center {
//         text-align: center;
//     }
//
//     a {
//         height: 100%;
//         font-size: 18px;
//         line-height: 1.2;
//         color: #fff;
//
//         i {
//             height: 100%;
//             font-size: 18px;
//             line-height: 1.2;
//             font-weight: 600;
//         }
//     }
// }
