// nav .brand-logo {
//     font-size: 1.6rem;
// }
//
// nav,
// nav .nav-wrapper i,
// nav a.sidenav-trigger i,
// nav i.material-icons nav a.sidenav-trigger {
//     height: 40px;
//     line-height: 40px;
// }
//
// nav {
//     background-color: #546E7A;
// }
