// .rating {
//     color: #606c71;
//     margin: 0 auto;
//
//     @media only screen and (min-width: 601px) {
//         font-size: 1.4em;
//     }
//
//     @media only screen and (min-width: 993px) {
//         font-size: 2em;
//     }
//
// }
//
// .book-rating {
//     white-space: nowrap;
//
//     .book-rating-value {
//         font-size: 30px;
//     }
//
//     .book-rating-text {
//         font-size: 10px;
//     }
// }
