// .session {
//     margin-top: 2em;
//
//     .session-shared-links {
//         display: inline-block;
//         margin: 0 5px;
//
//         a {
//             color: #546E7A;
//             text-decoration: none;
//             border-bottom: 1px dashed #546E7A;
//             font-size: 12px;
//             line-height: 12px;
//         }
//     }
// }
