// .tabs {
//     a {
//         color: #546E7A !important;
//
//         &.active {
//             background-color: #fff !important;
//         }
//     }
//
//     .indicator {
//         background-color: #546E7A !important;
//     }
// }
