// .translated-text-item {
//     .translated-text-item-action {
//         margin-right: 15px;
//         display: inline-block;
//
//         a {
//             text-decoration: none;
//             color: #444;
//         }
//     }
//
//     .translated-text-item-status {
//         cursor: pointer;
//         color: #fff;
//         text-align: center;
//         display: inline-block;
//         font-size: 14px;
//         line-height: 1.4;
//         padding: 0 5px;
//         width: 100px;
//         background-color: #008000;
//         border: 1px solid #008000;
//     }
//
//     &:hover {
//         background-color: rgba(215,215,215,0.3);
//     }
// }
