// .translators-list {
//     overflow-x: hidden;
//     overflow-y: auto;
//     max-height: 300px;
//     width: 100%;
//     position: relative;
//     padding: 0 15px;
//
//     .add-translator {
//         width: 100%;
//         text-align: center;
//
//         a {
//             width: 100%;
//         }
//     }
//
//     .translator-wrapper {
//         height: 50px;
//         width: 100%;
//         margin: 10px 0;
//
//         .translator-block {
//             width: 100%;
//             display: inline-flex;
//
//             .translator-link {
//                 text-decoration: none;
//                 color: #000;
//                 width: 85%;
//                 height: 85%;
//                 display: inline-flex;
//
//                 .translator {
//                     display: inline-flex;
//
//                     .translator-avatar {
//                         margin: 0;
//                         height: 50px;
//                         width: 50px;
//                         margin-right: 15px;
//
//                         img {
//                             height: 100%;
//                             width: 100%;
//                         }
//                     }
//
//                     .translator-info {
//                         .translator-name {}
//                     }
//                 }
//             }
//
//             .translator-destroy-link {
//                 text-decoration: none;
//                 cursor: pointer;
//                 color: #546E7A;
//             }
//         }
//     }
// }
//
// .translator-type {
//     color: #fff;
//     display: inline-block;
//     text-align: center;
//     font-size: 14px;
//     line-height: 1.4;
//     padding: 0 5px;
//     width: 100px;
//
//     &.type-1 {
//         // Создатель
//         background-color: #FF2400;
//         border: 1px solid #FF2400;
//     }
//
//     &.type-2 {
//         // Переводчик
//         background-color: #546E7A;
//         border: 1px solid #546E7A;
//     }
//
//     &.type-3 {
//         // Редактор
//         background-color: #ffab40;
//         border: 1px solid #ffab40;
//     }
// }
