// .change-bookmark {
//     width: 100%;
//     font-size: 10px;
//     font-weight: 550;
// }
//
// .bookmark_section {
//     .bookmark {
//         margin-bottom: 5px;
//
//         &:hover {
//             background-color: rgba(215,215,215,0.3);
//         }
//
//         .bookmark_index,
//         .bookmark_link,
//         .bookmark_rating {
//             &.header {
//                 color: #333333;
//                 font-weight: bold;
//                 line-height: 1.65;
//                 font-size: 14px;
//                 border-bottom: 1px solid #DDDDDD;
//             }
//         }
//
//         .bookmark_index {
//             text-align: center;
//             color: #A5A9C4;
//         }
//
//         .bookmark_link {
//             text-decoration: none;
//             text-align: left;
//
//             a {
//                 color: #444;
//             }
//         }
//
//         .bookmark_rating {
//             text-align: center;
//         }
//     }
// }
