<div class='container book-card'>
  <% translator_type = get_translator_type(current_user.id, book.id) %>
  <div class='row book-card-content'>
    <div class='col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 book-card-content-cover'>
      <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 translator-type type-<%= translator_type.id %> d-flex justify-content-center'><%= translator_type.name %></div>
      <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center'>
        <%= image_tag book.covers.url(:thumb) %>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 book-card-content-info'>
        <div class='row m-0 book-card-content-info-title'><span><%= book.title %></span></div>
        <div class='row m-0 book-card-content-info-status'>
          <div class='col-4 col-sm-3 col-md-3 col-lg-3 col-xl-2 book_status type-<%= book.book_status_id %>'><%= book.book_status.name %></div>
          <div class='col-8 col-sm-9 col-md-9 col-lg-9 col-xl-10'><%= get_book_dates(book) %></div>
        </div>
        <div class='row m-0 book-card-content-info-annotation'><p><%= book.annotation %></p></div>
        <div class='row m-0 book-card-content-info-genres genres left-align'><%= render :partial => 'genres/genre', :collection => book.genres, :as => :genre %></div>
    </div>
  </div>
  <div class='row book-card-content-actions valign-wrapper'>
      <div class='col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 book-card-content-actions-link'><%= link_to 'Переводить', book_book_sections_path(book.id), class: '' %></div>
      <% if translator_type.id == 1 %>
        <div class='col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 book-card-content-actions-link'><%= link_to 'Изменить', edit_book_path(book.id), class: '' %></div>
        <div class='col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 book-card-content-actions-link'><%= link_to 'Удалить', book_path(book.id), method: :delete, remote: true, class: '' %></div>
      <% end %>
  </div>
</div>
