// Then bootstrap itself
@import "bootstrap";

.body-content {
    margin-top: 50px;
}

.card-columns {
    column-count: 1;
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 5;
    }
    @include media-breakpoint-only(lg) {
        column-count: 6;
    }
    @include media-breakpoint-only(xl) {
        column-count: 9;
    }
}

.turbolinks-progress-bar {
    background-color: #FF0000 !important;
}

.session-shared-links {
    display: inline-block;
    margin: 0 5px;

    a {
        color: #546E7A;
        text-decoration: none;
        border-bottom: 1px dashed #546E7A;
        font-size: 12px;
        line-height: 12px;
    }
}

a {
    cursor: pointer;
}
