<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <div class='linked-line'>
          <a class='linked-link left'>Фрагмент <%= @translated_text.original_text.position %></a>
          <%= link_to book_book_section_edit_list_path(@book.id, @section.id), class: 'linked-link right' do %>Назад<% end %>
        </div>
    </div>
    <% if @translated_text.is_creator?(current_user.id) || @book.is_creator?(current_user.id) %>
      <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <div class='row m-3'>
            <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
                <%= link_to 'Удалить', book_book_section_translated_text_path(@book.id, @section.id, @translated_text.id), class: "btn btn-outline-danger btn-block", role: 'button', method: :delete, remote: true %>
            </div>
            <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
              <%= form_for(@translated_text, url: book_book_section_translated_text_path(@book.id, @section.id), method: :put, remote: true) do |f| %>
                <div class='form-row'>
                  <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary btn-no_main <%= 'active' unless @translated_text.is_main %>">
                        <%= f.radio_button :is_main, 0, class: 'ajax-text' %> Вторичный
                      </label>
                      <label class="btn btn-secondary btn-main <%= 'active' if @translated_text.is_main %>">
                        <%= f.radio_button :is_main, 1, class: 'ajax-text' %> Основной
                      </label>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
      <script>
         $(function() {
            send_form()
         })
      </script>
    <% end %>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive'>
        <table class="table table-hover table-sm">
          <thead>
            <tr class='row m-0'>
              <th class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">Оригинальный текст</th>
              <th class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">Перевод</th>
            </tr>
          </thead>
          <tbody>
            <tr class='row m-0'>
              <td class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class='no-editor'><%= @translated_text.original_text.text.html_safe %></div>
              </td>
              <td class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <% if @translated_text.is_creator?(current_user.id) %>
                  <%= form_for(@translated_text, url: book_book_section_translated_text_path(@book.id, @section.id), method: :put, remote: true) do |f| %>
                    <%= f.text_area :text, class: 'editor', id: "translated_text_text_#{@translated_text.id}" %>
                    <%= f.hidden_field :id %>
                    <%= f.hidden_field :original_text_id %>
                  <% end %>
                  <script>
                     $(function() {
                        initEditor()
                     })
                  </script>
                <% else %>
                  <div class='col s12 m12 l12 no-editor'><%= @translated_text.text.html_safe %></div>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
