.linked-line {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #ECECEC;
    border-left: 5px solid #343A40;
    font-weight: bold;
    padding: 4px 10px 2px;
    text-transform: uppercase;
    line-height: 1.65;

    .linked-link {
        color: #343A40;
        text-decoration: none;

        &.right {
            margin-left: 25px;
            float: right;
        }

        &.left {
            float: left;
        }
    }
}

.form {
    width: 100%;
}

.books {
    &.books-new {
        height: 160px;
        white-space: nowrap;
        overflow: hidden;
    }

    .book-wrapper {
        width: 205px;
        float: left;

        & .book-link {
            width: 100%;
            text-decoration: none;

            & .book-cover {
                height: 100px;
            }
        }

        & .book-title {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .book-rating {
            color: #444;

            & .star {
                font-size: 24px;
                line-height: 20px;
            }
        }
    }
}
