<div class='row in_list'>
  <div class='col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 in_list_count'>
    <div class='list-progressbar' style = "width: <%= list['count_percent'] %>%;"><span><%= list['count'] %></span></div>
  </div>
  <div class='col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 in_list_name text-truncate'><span><%= list['name'] %></span></div>
</div>
