<div class='row in_list'>
  <div class='col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 in_list_count'>
    <div class='list-progressbar' style = "width: <%= rating['count_percent'] %>%;"><span><%= rating['count'] %></span></div>
  </div>
  <div class='col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 in_list_name text-truncate'><span><%= rating['value'] %></span></div>
</div>
