<div class="row">
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 book_status type-<%= @book.book_status_id %>'><%= @book.book_status.name %></div>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'><%= get_book_dates(@book) %></div>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 genres m-3'><%= render :partial => 'genres/genre', :collection => @book.genres, :as => :genre %></div>
</div>
