<tr class='row m-0 book_section' id="book_section_<%= section.id %>">
  <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center" scope="row"><%= section.position %></th>
  <td class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10">
    <div class='section-line d-flex justify-content-left'>
      <div class='section-link title'>
        <span class='section-link-status type-<%= section.section_status_id %>'><%= section.section_status.name %></span>
        <%= link_to section.title, book_book_section_edit_list_path(@book.id, section.id) %>
      </div>
      <% if @book.is_creator?(current_user.id) %>
        <div class='section-link edit'>
          <%= link_to edit_book_book_section_path(@book.id, section.id), class: '' do %>
            <i class='material-icons'>edit</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </td>
  <td class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center"><%= section.materials.count %></td>
</tr>
