<%= form_for(@book, url: book_path, method: :put, remote: true) do |f| %>
  <div class='form-row'>
    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <%= f.label :annotation, 'Аннотация', class: 'active' %>
      <%= f.text_area :annotation, :placeholder => 'Аннотация', :autocomplete => "off", class: 'form-control ajax-text' %>
    </div>
    <%= f.hidden_field :id %>
  </div>
<% end %>
