<div class='row'>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class='linked-line'>
      <a class='linked-link left'>Авторы</a>
      <%= link_to new_book_book_author_path(@book.id), class: 'linked-link right d-flex justify-content-center' do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  </div>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' id='authors'>
    <%= render :partial => 'books/edit/authors/author', :collection => @book.authors, :as => :author %>
  </div>
</div>
