<%= form_for(@book, url: book_path, method: :put, remote: true, class: 'col s12') do |f| %>
<div class="book-cover">
  <div class="cover-image">
    <div class='dynamic-data'>
      <%= image_tag @book.covers.url(:cover), class: 'image_preview', onclick: "change_cover('book_covers');" %>
    </div>
    <%= f.file_field :covers, accept: 'image/jpeg,image/png,image/bmp,image/jpeg', class: 'image ajax-cover' %>
    <%= f.label :covers, 'Выберите файл с изображением', class:'' %>
  </div>
</div>
<% end %>
