<div class='row'>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class='linked-line'>
      <a class='linked-link left'>Жанры</a>
      <%= link_to new_book_book_genre_path(@book.id), class: 'linked-link right d-flex justify-content-center' do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  </div>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' id='genres'>
    <%= render :partial => 'books/edit/genres/genre', :collection => @book.genres, :as => :genre %>
  </div>
</div>
