<%= form_for(@book, url: book_path, method: :put, remote: true) do |f| %>
  <div class='form-row'>
    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <%= f.label :book_status_id, 'Статус' %>
      <%= f.select :book_status_id, @book_statuses.map{|s| [s.name,s.id]}, {}, {class: 'form-control ajax-text'} %>
    </div>
    <%= f.hidden_field :id %>
  </div>
<% end %>

<%= form_for(@book, url: book_path, method: :put, remote: true) do |f| %>
  <div class='form-row'>
    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary btn-publick <%= 'active' unless @book.is_private %>">
          <%= f.radio_button :is_private, 0, class: 'ajax-text' %>
          Публичный
        </label>
        <label class="btn btn-secondary btn-private <%= 'active' if @book.is_private %>">
          <%= f.radio_button :is_private, 1, class: 'ajax-text' %>
          Приватный
        </label>
      </div>
    </div>
    <%= f.hidden_field :id %>
  </div>
<% end %>
