<div class='row'>
  <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
    <%= form_for(@book, url: book_path, method: :put, remote: true) do |f| %>
      <div class='form-row'>
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <%= f.label :start_date, 'Выходит с', class: 'active' %>
          <%= f.date_field :start_date, :placeholder => 'Начало выпуска', :autocomplete => "off", class: 'form-control ajax-text' %>
        </div>
        <%= f.hidden_field :id %>
      </div>
    <% end %>
  </div>

  <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
    <%= form_for(@book, url: book_path, method: :put, remote: true) do |f| %>
      <div class='form-row'>
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <%= f.label :end_date, 'Выходит до ', class: 'active' %>
          <%= f.date_field :end_date, :placeholder => 'Конец выпуска', :autocomplete => "off", class: 'form-control ajax-text' %>
        </div>
        <%= f.hidden_field :id %>
      </div>
    <% end %>
  </div>
</div>
