<%= form_for(@book, url: book_path, method: :put, remote: true) do |f| %>
  <div class='form-row'>
    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <%= f.label :title, 'Название', class: 'active' %>
      <%= f.text_field :title, :placeholder => 'Название', :autocomplete => "off", class: 'ajax-text form-control' %>
    </div>
    <%= f.hidden_field :id %>
  </div>
<% end %>
