<div class='row m-1'>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class="book-cover">
      <div class="cover-image">
        <div class='dynamic-data'>
          <%= image_tag image.images.url(:cover), class: 'image_preview' %>
        </div>
      </div>
    </div>
  </div>
</div>
