<tr class='row m-0 book_section' id="book_section_<%= section.id %>">
  <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center" scope="row"><%= section.position %></th>
  <td class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-11">
    <div class='section-line d-flex justify-content-left'>
      <div class='section-link title'>
        <span class='section-link-status type-<%= section.section_status_id %>'><%= section.section_status.name %></span>
        <% if section.is_completed? %>
          <%= link_to section.title, book_read_section_path(@book.id, section.id) %>
        <% else %>
          <a class='line-through'><%= section.title %></a>
        <% end %>
      </div>
    </div>
  </td>
</tr>
