$.notify({
  message: '<%= flash[:notice] %>'
},{
	type: '<%= @notice_type %>',
  delay: 2000,
  timer: 1000
});

<% if @book_genre_destroy %>
    console.log($("#genre_<%= @id %>"))
    $("#genre_<%= @id %>").remove()
<% end %>
