.big-avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #546E7A;
    margin: 0 auto;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
    }

    .change-avatar-button {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.small-avatar {
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;

    img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: #fff;
    }

    .name {
        width: 100px;
    }
}

.link-in-profile {
    color: #546E7A;
    text-decoration: none;
    border-bottom: 1px dashed #546E7A;
    font-size: 16px;
    line-height: 16px;

    &:hover {
        color: #546E7A;
        text-decoration: none;
    }
}

.m-3-lr {
    margin: 0 1rem !important;
}

.m-3-tb {
    margin: 1rem 0 !important;
}

.hidden {
    display: none;
}
