<div class="book-wrapper container m-2">
    <div class='row'>
      <%= link_to book_path(book.id), class: 'book-link' do %>
        <div class="book-cover-wrapper col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= image_tag book.covers.url(:card), class: 'book-cover' %>
        </div>
        <div class="book-title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><%= book.title %></div>
        <div class="book-info col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row m-0 d-flex align-items-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 book_status type-<%= book.book_status_id %>"><%= book.book_status.name %></div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 book-rating d-flex align-items-center"><span class="star">☆</span> <span><%= book.rating[:value] %></span></div>
          </div>
        </div>
      <% end %>
    </div>
</div>
