<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class='linked-line'>
        <a class="linked-link left"><%= @user.nickname %></a>
        <%= link_to user_path(@user.id), class: 'linked-link right' do %>Назад<% end %>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <%= form_for(@user, url: user_path, method: :put, remote: true, class: 'col s12') do |f| %>
        <div class="form-row">
            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <div class='big-avatar'>
                <div class='change-avatar-button'>
                  <a class='d-flex' onclick="change_avatar();">
                    <i class="material-icons right">add_a_photo</i>
                  </a>
                </div>
                <%= image_tag @user.avatars.url(:medium), id: "avatar_image" %>
                <%= f.file_field :avatars, class: 'hidden' %>
                <%= f.label :avatars, class: 'hidden', id: 'for_user_avatars' %>
              </div>
            </div>
            <div class="form-group col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                <div class="form-row">
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <%= f.label :name, 'Имя' %>
                      <%= f.text_field :name, :placeholder => 'Имя', :autocomplete => "off", class: "form-control" %>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <%= f.label :gender_id, 'Пол' %>
                      <%= f.select(:gender_id, @genders.map{|s| [s.name,s.id]}, {}, class: "form-control") %>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <%= f.label :birthday, 'День рождения' %>
                      <%= f.date_field :birthday, :placeholder => 'Дата рождения', :autocomplete => "off", class: "form-control" %>
                    </div>
                </div>
            </div>
            <%= f.hidden_field :id %>
        </div>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.button :submit, class: 'btn btn-primary btn-block' do %>
              Сохранить
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
