<div class="container">
  <div class='row'>
      <div class='col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8'>
        <div class='row'>
          <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
              <div class='linked-line'>
                <a class="linked-link left"><%= @user.nickname %></a>
              </div>
          </div>
        </div>
        <div class='row'>
            <div class='col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4'>
              <div class='big-avatar'>
                <%= image_tag @user.avatars.url(:medium) %>
              </div>
            </div>
            <div class='col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8'>
              <div class='row'>
                  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                      <h5><%= @user.info %></h5>
                  </div>
                  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                      <div class='row'>
                          <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'>
                            <div class="row">
                              <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                                  <div class='linked-line'>
                                    <a class="linked-link left">Переводы</a>
                                  </div>
                              </div>
                              <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-3-lr'>Создал: <%= @user.books_count %></div>
                              <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-3-lr'>Приглашен: <%= @user.books_member_count %></div>
                            </div>
                          </div>
                          <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'>
                            <div class="row">
                              <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                                  <div class='linked-line'>
                                    <a class="linked-link left">Фрагменты</a>
                                  </div>
                              </div>
                              <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-3-lr'>Перевел: <%= @user.fragments_count %></div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class='col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4'>
        <div class='row'>
          <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
              <div class='linked-line'>
                <a class="linked-link left">Ссылки</a>
              </div>
          </div>
          <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
            <%= link_to 'Закладки', user_user_bookmarks_path(@user.id), class: 'm-3 link-in-profile' %>
          </div>
          <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
            <%= link_to 'Переводы', '', class: 'm-3 link-in-profile' %>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-3-tb'>
      <div class='row'>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
            <div class='linked-line'>
              <a class="linked-link left">Лента</a>
            </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'></div>
  </div>
</div>
