<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <div class='linked-line'>
          <a class='linked-link left'><%= @book.title %></a>
          <% if @book.is_creator?(current_user.id) %>
            <%= link_to new_book_book_section_path(@book.id), class: "linked-link right d-flex justify-content-center" do %>
              <i class="material-icons">add</i>
            <% end %>
          <% end %>
          <%= link_to books_path, class: 'linked-link right' do %>Назад<% end %>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive'>
        <table class="table table-hover table-sm">
          <thead>
            <tr class='row m-0'>
              <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">#</th>
              <th class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10">Название</th>
              <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">Фрагменты</th>
            </tr>
          </thead>
          <tbody>
              <%= render :partial => 'book_sections/index/section', :collection => @sections, :as => :section %>
          </tbody>
        </table>
    </div>
  </div>
</div>
