<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class='linked-line'>
        <a class='linked-link left'><%= @section.title %></a>
        <% if @book.is_creator?(current_user.id) %>
          <%= link_to new_book_book_section_material_path(@book.id, @section.id), class: "linked-link right d-flex justify-content-center" do %>
            <i class="material-icons">add</i>
          <% end %>
        <% end %>
        <%= link_to book_book_sections_path(@book.id), class: 'linked-link right' do %>Назад<% end %>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive'>
      <table class="table table-hover table-sm">
        <thead>
          <tr class='row m-0'>
            <th class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">#</th>
            <th class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center">Оригинальный текст</th>
            <th class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-flex justify-content-center">Перевод</th>
          </tr>
        </thead>
        <tbody>
          <% @section.materials.order(:position).each do |m| %>
            <% if m.materialable_type == "OriginalImage" %>
                <%= render :partial => 'materials/edit/original_image', locals: {image: m.materialable} %>
            <% else %>
                <%= render :partial => 'materials/edit/original_text', locals: {text: m.materialable} %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @book.is_creator?(current_user.id) %>
  <script>
    $(function() {
        send_form()
        initEditor()
    })
  </script>
<% end %>
