<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class='linked-line'>
        <a class='linked-link left'>Добавить главу</a>
        <%= link_to book_book_sections_path(@book.id), class: 'linked-link right' do %>Назад<% end %>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <%= form_for(@section, url: book_book_sections_path(@book.id), method: :post, remote: true) do |f| %>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.label :title, 'Название главы', class: 'active' %>
            <%= f.text_field :title, autocomplete: "off", placeholder: 'Название главы', class: 'form-control' %>
          </div>
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <%= f.label :section_status_id, 'Статус' %>
            <%= f.select(:section_status_id, @section_statuses.map{|s| [s.name,s.id]}, {}, class: 'form-control') %>
          </div>
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <%= f.label :position, 'Порядковый номер', class: 'active' %>
            <%= f.number_field :position, placeholder: 'Номер главы', min: @position, value: @position, class: 'form-control' %>
          </div>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :book_id %>
        </div>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.button :submit, class: 'btn btn-primary btn-block' do %>
              Добавить
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
