.dropzone {
    width: 100%;
    height: 300px;
    border: 2px dashed #546E7A;
    cursor: pointer;
    position: relative;

    input[type='file'] + label * {
        pointer-events: none;
    }

    .image {
        display: none;
    }

    .image_preview {
        display: none;
        cursor: pointer;
        position: relative;
        max-height: 300px;
        max-width: 100%;
    }

    .dropzone-info {
        width: 100%;
        height: 100%;

        label {
            display: inline-block;
            cursor: pointer;
        }

        .info {
            width: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
            color: #546E7A;
        }
    }

    .buttons-block {
        display: none;
        position: absolute;
        right: 15px;
        top: 24px;
    }
}
