.author-line,
.genre-line,
.translator-line {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    padding: 4px 10px 2px;
    line-height: 1.65;

    .author-link,
    .genre-link,
    .translator-link {
        color: #343A40;

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }
    }
}

.genre-link.left {
    border-bottom: 1px dashed #343A40;
    cursor: help;
}

.translator {
    display: inline-flex;

    .translator-avatar {
        margin: 0;
        height: 50px;
        width: 50px;
        margin-right: 15px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .translator-info {
        width: auto;

        .translator-type {
            width: 100%;
        }

        .translator-name {
            width: 100%;
        }
    }
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
}
