.btn-publick {
    &.active {
        background-color: #008000 !important;
        border-color: #008000 !important;
    }
}

.btn-private {
    &.active {
        background-color: #FF2400 !important;
        border-color: #FF2400 !important;
    }
}

.btn-main {
    &.active {
        background-color: #008000 !important;
        border-color: #008000 !important;
    }
}

.btn-no_main {
    &.active {
        background-color: #17A2B8 !important;
        border-color: #17A2B8 !important;
    }
}
