$.notify({
  message: '<%= flash[:notice] %>'
},{
	type: '<%= @notice_type %>',
  delay: 2000,
  timer: 1000
});

<% if @book_translator_destroy %>
    console.log($("#translator_<%= @id %>"))
    $("#translator_<%= @id %>").remove()
<% end %>
