<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <div class='linked-line'>
          <a class='linked-link left'>Добавить переводчика</a>
          <%= link_to edit_book_path(@book.id), class: 'linked-link right' do %>Назад<% end %>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <%= form_for(@book_translator, url: book_book_translators_path(@book.id), method: :post, remote: true) do |f| %>
        <div class='form-row'>
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <%= f.label :translator_email, 'E-mail' %>
              <%= f.email_field :translator_email, placeholder: 'E-mail', class: 'form-control' %>
            </div>
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <%= f.label :translator_type_id, 'Роль' %>
              <%= f.select(:translator_type_id, @translator_types.map{|s| [s.name,s.id]}, {}, class: 'form-control') %>
            </div>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :book_id %>
        </div>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.button :submit, class: 'btn btn-primary btn-block' do %>
              Добавить
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
