.translator-type {
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    padding: 0 5px;

    &.type-1 {
        // Создатель
        background-color: #FF2400;
        border: 1px solid #FF2400;
    }

    &.type-2 {
        // Переводчик
        background-color: #546E7A;
        border: 1px solid #546E7A;
    }

    &.type-3 {
        // Редактор
        background-color: #ffab40;
        border: 1px solid #ffab40;
    }
}
