<tr class='row m-0 material-<%= text.material.id %> material-edit'>
  <th class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center" scope="row"><%= text.position %></th>
  <td class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <% if @book.is_creator?(current_user.id) %>
      <%= form_for(text, url: original_text_path(text.id), method: :put, remote: true, class: 'col s12' ) do |f| %>
        <%= f.text_area :text, class: 'editor', id: "original_text_text_#{text.id}" %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :position %>
        <%= f.hidden_field :book_section_id %>
      <% end %>
    <% else %>
      <div class='col s12 m12 l12 no-editor'><%= text.text.html_safe %></div>
    <% end %>
  </td>
  <td class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
    <div class='row m-0'>
    <%= link_to book_book_section_translated_texts_path(@book.id, @section.id, :original_text_id => text.id), method: :post, remote: true, class: 'btn btn-outline-info btn-block', role: 'button' do %>
      Добавить перевод
    <% end %>
    </div>
    <div class='row m-0'>
        <%= render :partial => 'materials/edit/translation_list_item', :collection => text.translated_texts.order(:created_at), as: :translated %>
    </div>
  </td>
</tr>
