<tr class='row m-0 material-<%= image.material.id %> material-edit'>
  <th class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center" scope="row"><%= image.position %></th>
  <td class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11" colspan='2'>
    <% if @book.is_creator?(current_user.id) %>
      <%= form_for(image, url: original_image_path(image.id), method: :put, remote: true, class: 'col s12' ) do |f| %>
        <div class="book-cover">
          <div class="cover-image">
            <div class='dynamic-data'>
              <%= image_tag image.images.url(:cover), class: 'image_preview', onclick: "change_cover('original_image_images_#{image.id}');" %>
            </div>
            <%= f.file_field :images, accept: 'image/jpeg,image/png,image/bmp,image/jpeg', class: 'image ajax-cover', id: "original_image_images_#{image.id}" %>
            <%= f.label :images, 'Выберите файл с изображением', class:'', for: "original_image_images_#{image.id}" %>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :position %>
            <%= f.hidden_field :book_section_id %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="book-cover">
        <div class="cover-image">
          <div class='dynamic-data'>
            <%= image_tag image.images.url(:cover), class: 'image_preview' %>
          </div>
        </div>
      </div>
    <% end %>
  </td>
</tr>
