<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 translated_text-line">
  <%= link_to translation_info(translated), book_book_section_translated_text_path(@book.id, @section.id, translated.id), class: 'translated_text-link link' %>
  <% if translated.is_main %>
    <span class='translated_text-link status'>основной</span>
  <% end %>
</div>
