$.notify({
  message: '<%= flash[:notice] %>'
},{
	type: '<%= @notice_type %>',
  delay: 2000,
  timer: 1000
});

<% if @book_author_destroy %>
    console.log($("#author_<%= @id %>"))
    $("#author_<%= @id %>").remove()
<% end %>
