<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class='linked-line'>
        <a class='linked-link left'>Добавить автора</a>
        <%= link_to edit_book_path(@book.id), class: 'linked-link right' do %>Назад<% end %>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <%= form_for(@book_author, url: book_book_authors_path(@book.id), method: :post, remote: true) do |f| %>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.label :author_name, 'Автор' %>
            <%= f.text_field :author_name, class: "form-control typeahead", placeholder: 'Имя автора', autocomplete: "off" %>
          </div>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :book_id, value: @book.id %>
        </div>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.button :submit, class: 'btn btn-primary btn-block' do %>
              Добавить
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(function () {
        let authorData = <%= @authors.to_json.html_safe %>
        $(".typeahead").typeahead({
            source: authorData
        });
    })
</script>
