<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
        <div class='linked-line'>
          <a class='linked-link left'>Изменить перевод</a>
          <%= link_to books_path, class: 'linked-link right' do %>Назад<% end %>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <div class='row'>
            <div class='col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4'>
                <%= render :partial => 'books/edit/title' %>
                <%= render :partial => 'books/edit/annotation' %>
                <%= render :partial => 'books/edit/start_and_end_date' %>
                <%= render :partial => 'books/edit/is_private_with_book_status' %>
            </div>
            <div class='col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4'>
                <%= render :partial => 'books/edit/cover' %>
            </div>
            <div class='col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4'>
                <%= render :partial => 'books/edit/genres' %>
                <%= render :partial => 'books/edit/authors' %>
                <%= render :partial => 'books/edit/translators' %>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    send_form()
  })
</script>
