<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
        <div class='linked-line'>
          <a class='linked-link left'>Мои переводы</a>
          <%= link_to new_book_path, class: 'linked-link right' do %>Создать<% end %>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <%= render :partial => 'books/index/book', :collection => @books, :as => :book %>
    </div>
  </div>
  <%= will_paginate @books %>
</div>
