<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
        <div class='linked-line'>
          <a class='linked-link left'>Создать перевод</a>
          <%= link_to books_path, class: 'linked-link right' do %>Назад<% end %>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <%= form_for(@book, url: books_path, method: :post, remote: true) do |f| %>
          <div class='form-row'>
              <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <%= f.label :title, 'Название' %>
                  <%= f.text_field :title, :placeholder => 'Название', :autocomplete => "off", class: 'form-control' %>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <%= f.label :annotation, 'Аннотация' %>
                    <%= f.text_area :annotation, :placeholder => 'Аннотация', :autocomplete => "off", class: 'form-control' %>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                   <%= f.label :book_status_id, 'Статус оригинала' %>
                   <%= f.select(:book_status_id, @book_statuses.map{|s| [s.name,s.id]}, {}, class: 'form-control') %>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active btn-publick">
                      <%= f.radio_button :is_private, 0, :checked => true %> Публичный
                    </label>
                    <label class="btn btn-secondary btn-private">
                      <%= f.radio_button :is_private, 1 %> Приватный
                    </label>
                  </div>
                </div>
              </div>
              <div class='col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6'>
                <div class="dropzone col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <img src="#" class="image_preview" onclick="another_load(this);" />
                  <%= f.file_field :covers, accept: 'image/jpeg,image/png,image/bmp,image/jpeg', class: 'image' %>
                  <div class="dropzone-info d-flex align-items-center">
                    <%= f.label :covers, 'Выберите файл с изображением или перетащите его для загрузки<br/>Поддерживаемые форматы: *.png, *.jpg, *.bmp, *.jpeg'.html_safe, class: 'info' %>
                  </div>
                </div>
              </div>
              <%= f.hidden_field :id %>
              <%= f.hidden_field :user_id %>
          </div>
          <div class='form-row'>
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <%= f.button :submit, class: 'btn btn-primary btn-block' do %>
                Создать
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
    dropZone()
  })
</script>
