<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <div class='linked-line'>
          <a class='linked-link left'><%= @book.title %></a>
          <%= link_to book_path(@book.id), class: 'linked-link right' do %>Назад<% end %>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <table class="table table-hover table-sm">
        <thead>
          <tr class='row m-0'>
            <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">#</th>
            <th class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-11">Название</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'books/read/section', :collection => @sections, :as => :section %>
        </tbody>
      </table>
    </div>
  </div>
</div>
