<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class='linked-line'>
        <%= link_to @section.title, '', class: 'linked-link left' %>
        <%= link_to book_read_path(@book.id), class: 'linked-link right' do %>Назад<% end %>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <% @section.materials.order(:position).each do |m| %>
        <% if m.materialable_type == "OriginalImage" %>
          <%= render :partial => 'books/read/image', locals: {image: m.materialable} %>
        <% else %>
          <%= render :partial => 'books/read/text', locals: {text: m.materialable} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
