<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
        <div class='linked-line'>
          <a class='linked-link left'><%= @book.title %></a>
        </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9'>
      <div class='row'>
          <div class='col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4'>
              <div class='row'>
                  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                    <div class='linked-line'>
                      <a class='linked-link left'>Обложка</a>
                    </div>
                    <div class='m-3'>
                      <%= image_tag @book.covers.url(:cover), class: 'cover' %>
                    </div>
                  </div>
                  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                    <div class='linked-line'>
                      <a class='linked-link left'>Закладки</a>
                    </div>
                    <div class='m-3'>
                      <%= form_for(UserBookmark.new, url: user_bookmarks_path, method: :post, remote: true) do |f| %>
                        <div class='form-row'>
                          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-0">
                              <button class="btn btn-outline-info btn-block dropdown-toggle text-truncate" id="bookmark_dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= bookmark_status(@book.id) %></button>
                              <div class="dropdown-menu">
                                <% @bookmark_statuses.each do |status| %>
                                  <a onClick="$('#user_bookmark_bookmark_status_id').val(<%= status.id %>).trigger('change');" class='dropdown-item'><%= status.name %></a>
                                <% end %>
                              </div>
                              <%= f.hidden_field :bookmark_status_id, class: 'ajax-text' %>
                          </div>
                          <%= f.hidden_field :id %>
                          <%= f.hidden_field :book_id, value: @book.id %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                    <div class='linked-line'>
                      <a class='linked-link left'>Оценить</a>
                    </div>
                    <div class='rating' id='rating'></div>
                  </div>
              </div>
          </div>
          <div class='col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8'>
            <div class='row'>
                <div class='col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6'>
                  <div class='linked-line'>
                    <a class='linked-link left'>Информация</a>
                  </div>
                  <div class='m-3'>
                    <%= render :partial => "books/show/information" %>
                  </div>
                </div>
                <div class='col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6'>
                  <div class='row'>
                      <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                        <div class='linked-line'>
                          <a class='linked-link left'>Рейтинг</a>
                        </div>
                        <div class='book-rating m-3'>
                            <% rating = @book.rating %>
                            <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center book-rating-value'><%= rating[:value] %></div>
                            <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center book-rating-text'><%= rating[:text] %></div>
                        </div>
                      </div>
                      <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                        <div class='linked-line'>
                          <a class='linked-link left'>Действия</a>
                        </div>
                        <div class='m-3'>
                          <%= link_to 'Читать', book_read_path(@book.id), class: 'btn btn-outline-primary btn-block', role: 'button' %>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class='row'>
              <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                <div class='linked-line'>
                  <a class='linked-link left'>Аннотация</a>
                </div>
                <p class='m-3'><%= @book.annotation %></p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3'>
      <div class='row'>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
          <div class='linked-line'>
            <a class='linked-link left'>В списках</a>
          </div>
          <div class='m-3'>
            <% if @book.in_lists.blank? %>
                Ни кто еще не добавил это в свои списки
            <% else %>
              <%= render :partial => 'books/show/in_list', :collection => @book.in_lists, :as => :list %>
            <% end %>
          </div>
        </div>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
          <div class='linked-line'>
            <a class='linked-link left'>Оценки</a>
          </div>
          <div class='m-3'>
            <% if @book.in_ratings.blank? %>
                Ни кто еще не оценил это
            <% else %>
              <%= render :partial => 'books/show/in_ratings', :collection => @book.in_ratings, :as => :rating %>
            <% end %>
          </div>
        </div>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
          <div class='linked-line'>
            <a class='linked-link left'>Переводчики</a>
          </div>
          <div class='m-3'>
            <%= render :partial => 'books/show/translators/translator', :collection => @book.translators, :as => :translator %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class='row book-show-title'>
  <div class='col s12 m12 l12'>
    <h4><%= @book.title %></h4>
  </div>
</div>

<div class='row book-show-content'>
  <div class='col s12 l3 m3 book-show-content-info-1'>
      <div class='row'>
        <div class='col s12 m12 l12 cover'>
          <%= image_tag @book.covers.url(:cover) %>
        </div>
      </div>
      <div class='row'>
        <%= form_for(UserBookmark.new, url: user_bookmarks_path, method: :post, remote: true) do |f| %>
            <div class="input-field col s12 m12 l12">
                <a class='btn blue-grey darken-1 dropdown-trigger change-bookmark' data-target='add_bookmark' id="bookmark_dropdown"><%= bookmark_status(@book.id) %></a>

                <ul id='add_bookmark' class='dropdown-content'>
                    <% @bookmark_statuses.each do |status| %>
                      <li onClick="$('#user_bookmark_bookmark_status_id').val(<%= status.id %>).trigger('change');"><a><%= status.name %></a></li>
                    <% end %>
                </ul>

                <%= f.hidden_field :bookmark_status_id, class: 'ajax-text' %>
            </div>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :book_id, value: @book.id %>
        <% end %>
      </div>
      <div class='row'>
          <div class="col s12 m12 l12">
              <div class='rating' id='rating'></div>
          </div>
      </div>
  </div>
  <div class='col s12 m9 l9'>
    <div class='row'>
      <div class='col s12 m12 l4'>
        <div class='section-wrapper'>
          <div class='section-title valign-wrapper'>
            <a class='section-link truncate'>Информация</a>
          </div>
          <div class='section-content'>
            <div class='row'>
              <div class='col s4 m4 l4'>Статус: </div>
              <div class='col s8 m8 l8'>
                <div class='book_status type-<%= @book.book_status_id %>'>
                    <%= @book.book_status.name %>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col s4 m4 l4'>Выходит: </div>
              <div class='col s8 m8 l8'>
                <%= get_book_dates(@book) %>
              </div>
            </div>
            <div class='row'>
              <div class='col s4'>Жанры: </div>
              <div class='col s8 genres'><%= render :partial => 'genres/genre', :collection => @book.genres, :as => :genre %></div>
            </div>
          </div>
        </div>
      </div>

      <div class='col s12 m12 l4'>
        <div class='section-wrapper'>
          <div class='section-title valign-wrapper'>
            <a class='section-link truncate'>Рейтинг</a>
          </div>
          <div class='section-content'>
            <div class='row'>
              <div class='col s12 m12 l12 center-align'>
                <div class='book-rating'>
                    <% rating = @book.rating %>
                    <div class='col s12 m12 l12 book-rating-value'><%= rating[:value] %></div>
                    <div class='col s12 m12 l12 book-rating-text'><%= rating[:text] %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='section-wrapper'>
          <div class='section-title valign-wrapper'>
            <a class='section-link truncate'>Действия</a>
          </div>
          <div class='section-content'>
            <div class='row'>
              <div class='col s12 m12 l12 center-align'>
                <%= link_to 'Читать онлайн', book_read_path(@book.id), class: 'waves-effect waves-light btn blue-grey darken-1' %>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class='col s12 m12 l4'>
          <div class='section-wrapper'>
            <div class='section-title valign-wrapper'>
              <a class='section-link truncate'>Оценки</a>
            </div>
            <div class='section-content'>
              <% if @book.in_ratings.blank? %>
                  Ни кто еще не оценил это
              <% else %>
                <%= render :partial => 'books/show/in_ratings', :collection => @book.in_ratings, :as => :rating %>
              <% end %>
            </div>
          </div>
          <div class='section-wrapper'>
            <div class='section-title valign-wrapper'>
              <a class='section-link truncate'>В списках</a>
            </div>
            <div class='section-content'>
              <% if @book.in_lists.blank? %>
                  Ни кто еще не добавил это в свои списки
              <% else %>
                <%= render :partial => 'books/show/in_list', :collection => @book.in_lists, :as => :list %>
              <% end %>
            </div>
          </div>

        </div>

    </div>
    <div class='row'>
      <div class='col s12 m12 l12'>
        <div class='section-wrapper'>
          <div class='section-title valign-wrapper'>
            <a class='section-link truncate'>Описание</a>
          </div>
          <div class='section-content'>
            <p><%= @book.annotation %></p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
-->

<script>
  $(function() {
      // $('#bookmark_dropdown').dropdown();
      send_form()

      let options = {
          max_value: 5,
          step_size: 0.5,
          star_size: 45,
          initial_value: <%= get_book_rating(@book.id) %>
      }
      $("#rating").rate(options).on("change", function(ev, data){
          console.log(data.from, data.to);
          $.post("<%= book_ratings_path %>", {
              book_rating: {
                  book_id: <%= @book.id %>,
                  value: data.to
              }
          })
      });
  })
</script>
