<div class='row translator-wrapper'>
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class='translator-line'>
      <%= link_to user_path(translator.id), class: 'translator-link left' do %>
        <div class='translator'>
            <div class='small-avatar translator-avatar'>
              <%= image_tag translator.avatars.url(:thumb), id: "avatar_image" %>
            </div>
            <div class='translator-info'>
                <% translator_type = get_translator_type(translator.id, @book.id) %>
                <div class='translator-type type-<%= translator_type.id %>'><%= translator_type.name %></div>
                <div class='translator-name'><%= translator.nickname %></div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
