.section-line {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.65;

    .section-link {
        &.title {
            a {
                color: #343A40;
            }
        }

        &.edit {
            margin-left: 15px;

            a {
                color: #343A40;
            }
        }

        .section-link-status {
            color: #fff;
            text-align: center;
            display: inline-block;
            font-size: 14px;
            line-height: 1.4;
            padding: 0 5px;
            width: 120px;
            margin-right: 15px;

            &.type-1 {
                // Переводится
                // Переводится
                background-color: #546E7A;
                border: 1px solid #546E7A;
            }

            &.type-2 {
                // Редактируется
                background-color: #ffab40;
                border: 1px solid #ffab40;
            }

            &.type-3 {
                // Готово
                background-color: #008000;
                border: 1px solid #008000;
            }
        }
    }
}
