<div class="container">
  <div class="row">
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center'>
      <h4>Секретный клуб переводчиков</h4>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center'>
      <h3>TL.Project</h3>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='form-row'>
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: 'E-mail', class: 'form-control' %>
            </div>
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Пароль', class: 'form-control' %>
            </div>
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                <%= f.button :submit, class: 'btn btn-primary' do %>Войти<% end %>
            </div>
        </div>
      <% end %>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center'>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
