<div class='row genre-wrapper' id = "genre_<%= genre.id %>">
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class='genre-line'>
      <a class='genre-link left' data-toggle="tooltip" data-placement="top" title='<%= genre.description.html_safe %>'><%= genre.name %></a>
      <%= link_to book_book_genre_path(@book.id, get_book_genre_id(@book.id, genre.id)), method: :delete, remote: true, class: 'genre-link right' do %>
        <i class="material-icons right">delete</i>
      <% end %>
    </div>
  </div>
</div>
