<div class="container">
    <% unless @books.blank? %>
      <div class='row'>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
            <div class='linked-line'>
              <%= link_to dashboard_new_path, class: 'linked-link' do %>Новое<% end %>
            </div>
        </div>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
            <div class="books books-new row m-0 d-flex justify-content-left">
                <%= render :partial => 'dashboards/concerns/book', :collection => @books, :as => :book %>
            </div>
        </div>
      </div>
    <% end %>

    <!-- <%# if @news %>
    <div class='row'>
      <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
          <div class='linked-line'>
            <%#= link_to dashboard_news_path, class: 'linked-link' do %>Новости<%# end %>
          </div>
      </div>
      <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
          <div class="card-deck">
              <%#= render :partial => 'dashboards/concerns/news', :collection => @news, :as => :new %>
          </div>
      </div>
    </div>
    <%# end %> -->
</div>
