<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
      <div class='linked-line'>
        <a class='linked-link left'>Фильтры</a>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
      <%= form_tag(dashboard_library_path, method: :get, :onchange => "$(this).submit();", :data => "turbolinks-form", class: "form") do %>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <%= label_tag :order_by, 'Сортировать по' %>
            <%= select_tag :order_by, options_for_select([['Выбрать',''], ['Названию', 'title'], ['Рейтингу', 'rating']], @order_by), class: 'form-control' %>
          </div>
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <%= label_tag :order_by, 'Жанр' %>
            <%= select_tag :genre_id, options_for_select(@genres.map{ |genre| [genre.name, genre.id] }.unshift(['Выбрать','']), @genre_id), class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% unless @books.blank? %>
      <div class='row'>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
            <div class='linked-line'>
              <a class='linked-link left'>Библиотека</a>
            </div>
        </div>
        <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
          <div class="books row m-0 d-flex justify-content-left">
              <%= render :partial => 'dashboards/concerns/book', :collection => @books, :as => :book %>
          </div>
        </div>
      </div>
      <div class="row"><%= will_paginate @books %></div>
  <% end %>
</div>
