<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-left'>
        <div class='linked-line'>
          <a class='linked-link left'>Новое</a>
        </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class="books row m-0 d-flex justify-content-left">
          <%= render :partial => 'dashboards/concerns/book', :collection => @books, :as => :book %>
      </div>
    </div>
  </div>
  <div class="row"><%= will_paginate @books %></div>
</div>
