<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Navbar brand -->
    <%= link_to 'TL.Project', root_path, class: 'navbar-brand' %>
    <!-- Collapse button -->
    <% if current_user %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleNavContent" aria-controls="toggleNavContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">menu</i>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="toggleNavContent">
        <ul class="navbar-nav mr-auto">
          <!-- Links -->
          <li class='<%= 'active' if @active_library %> nav-item'>
            <%= link_to 'Библиотека', dashboard_library_path, class: 'nav-link' %>
          </li>
          <li class='<%= 'active' if @active_books %> nav-item'>
            <%= link_to 'Мои переводы', books_path, class: 'nav-link' %>
          </li>
          <li class='<%= 'active' if @active_bookmark %> nav-item'>
            <%= link_to 'Закладки', user_user_bookmarks_path(current_user.id), class: 'nav-link' %>
          </li>
        </ul>
        <div class='my-2 my-lg-0'>
          <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
        </div>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.nickname %></a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to current_user.nickname, user_path(current_user.id), class: 'dropdown-item' %>
              <%= link_to 'Настройки', edit_user_path(current_user.id), class: 'dropdown-item' %>
              <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
