.translated_text-line {
    .translated_text-link {
        &.link {
            text-decoration: none;
            color: #343A40;
            font-size: 14px;
            line-height: 1.4;
            text-decoration: underline;
        }

        &.status {
            color: #fff;
            text-align: center;
            display: inline-block;
            font-size: 14px;
            line-height: 1.4;
            padding: 0 5px;
            width: 80px;
            background-color: #008000;
            border: 1px solid #008000;
        }
    }
}
