<div class="container">
  <div class='row'>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class='linked-line'>
        <a class='linked-link left'>Добавить фрагмент</a>
        <%= link_to book_book_section_edit_list_path(@book.id, @section.id), class: 'linked-link right' do %>Назад<% end %>
      </div>
    </div>
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <%= form_for(@material, url: book_book_section_materials_path(@book.id, @section.id), method: :post, remote: true, class: 'col s12' ) do |f| %>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <%= f.label :material_type, 'Тип фрагмента' %>
            <%= f.select(:material_type, options_for_select([['Текст', 'text'], ['Картинка', 'image']]), {}, class: 'form-control') %>
          </div>
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <%= f.label :position, 'Порядковый номер', class: 'active' %>
            <%= f.number_field :position, placeholder: 'Номер фрагмента', min: @position, value: @position, class: 'form-control' %>
          </div>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :book_section_id %>
        </div>
        <div class='form-row'>
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <%= f.button :submit, class: 'btn btn-primary btn-block' do %>
              Добавить
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
