<tr class='row m-0'>
  <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center" scope="row"><%= bookmark_counter+1 %></th>
  <td class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10"><%= link_to bookmark['book_title'], book_path(bookmark['book_id']) %></td>
  <td class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center"><%= (get_book_rating(bookmark['book_id']) * 2).to_i %></td>
</tr>
