<div class='linked-line'>
  <a class='linked-link left'><%= bookmarks[0] %></a>
</div>
<table class="table table-hover table-sm">
  <thead>
    <tr class='row m-0'>
      <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">#</th>
      <th class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10">Название</th>
      <th class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center">Оценка</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'user_bookmarks/bookmark', :collection => bookmarks[1], :as => :bookmark %>
  </tbody>
</table>
