<div class="container">
  <div class="row">
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center'>
      <h2>Список книг <%= @user.nickname %></h2>
    </div>
  </div>
  <div class="row">
    <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive'>
      <%= render :partial => 'user_bookmarks/bookmark_section', :collection => @bookmarks, :as => :bookmarks %>
    </div>
  </div>
</div>
