<div class='row author-wrapper' id = "author_<%= author.id %>">
  <div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
    <div class='author-line'>
      <a class='author-link left'><%= author.name %></a>
      <%= link_to book_book_author_path(@book.id, get_book_author_id(@book.id, author.id)), method: :delete, remote: true, class: 'author-link right' do %>
        <i class="material-icons right">delete</i>
      <% end %>
    </div>
  </div>
</div>
